body {
  background-color: #0d0d0d;
  color: #f2f2f2;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}
header {
  padding: 2em;
  background-color: #1a1a1a;
}
nav ul {
  list-style-type: none;
  padding: 0;
  background-color: #262626;
  display: flex;
  justify-content: center;
}
nav ul li {
  margin: 0 15px;
}
nav ul li a {
  color: #f2f2f2;
  text-decoration: none;
  font-weight: bold;
}
main {
  padding: 2em;
}
footer {
  background-color: #1a1a1a;
  padding: 1em;
  position: fixed;
  width: 100%;
  bottom: 0;
}
